/* Header */
.header {
	background-color: rgb(11, 5, 68);
	color: rgb(247, 17, 247);
	padding: 1em;
	text-align: left;
  }
  
  .header nav ul {
	list-style: none;
	padding: 0;
  }
  
  .header nav ul li {
	display: inline;
	margin-right: 1em;
  }
  