<!-- Esta seccion contiene textos incompletos deben completar el texto -->
<section id="nosotros" class="contenido">
    <h1 class="somos">Nosotros somos  una organización globalmente reconocida por su innovación y sostenibilidad, generando un impacto positivo en la comunidad y el medio ambiente. </h1> 
    <h2 class="mision">Nuestra misión Liderar con soluciones innovadoras que mejoren la calidad de vida, impulsando el desarrollo económico y social de manera responsable y sostenible.</h2>
  </section>
